<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yg.mydrive.mapper.ChunkMapper">

    <!-- 将分片记录插入数据库 -->
    <insert id="insertChunk" useGeneratedKeys="true" keyProperty="chunkId" keyColumn="id">
        insert into chunk values (null, #{chunkHash}, 1, #{chunkSize}, #{uploadTime});
    </insert>

    <!-- 通过chunkId删除自身记录 -->
    <delete id="deleteChunkById">
        delete from chunk where id = #{chunkId};
    </delete>

    <!-- 通过chunkHash查找表里是否保存该分片 -->
    <select id="checkChunkExistsByHash" resultType="java.lang.Integer">
        select id chunkId
        from chunk
        where chunk_hash = #{chunkHash}
    </select>

    <!-- 如果需要上传的分片在服务端已存储,不需要再存储,只需要增加引用次数 -->
    <update id="updateReferenceCountByHash">
        update chunk
        set reference_count = reference_count + 1
        where chunk_hash = #{chunkHash};
    </update>

    <!-- 根据id值获得分片的hash值 -->
    <select id="getChunkHashByFileId" resultType="java.lang.String">
        select chunk_hash
        from chunk
        where id = #{chunkId};
    </select>

    <!-- 根据id值获得分片的大小 -->
    <select id="getChunkSize" resultType="java.lang.Long">
        select chunk_size
        from chunk
        where id = #{chunkId};
    </select>

</mapper>