<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yg.mydrive.mapper.FileMapper">

    <!-- 通过用户id和父文件id该查找该路径下所有文件 -->
    <select id="findFileByUserIdAndFolderId" resultType="com.yg.mydrive.entity.Files">
        select file_name fileName,
        file_hash fileHash,
        file_size fileSize,
        total_chunks totalChunk,
        folder_id folderId,
        user_id userId,
        version_control_enabled versionControlEnabled,
        current_version_id currentVersionId,
        upload_time uploadTime,
        id fileId
        from file where user_id = ${userId}
        <if test="folderId == null">
            and folder_id is null
        </if>
        <if test="folderId != null">
            and folder_id = ${folderId}
        </if>
        and status = 'active'
    </select>

    <!-- 初始化文件记录 -->
    <insert id="initializeFile" useGeneratedKeys="true" keyProperty="file.fileId" keyColumn="id">
        insert into file (file_name, file_hash, total_chunks, folder_id, user_id, upload_time)
        values (#{file.fileName}, #{file.fileHash}, #{file.totalChunks}, #{file.folderId}, #{file.userId}, #{file.uploadTime})
    </insert>

    <!-- 根据文件id,更新该文件的大小 -->
    <update id="updateFileSize">
        update file set file_size = #{fileSize} where id = #{fileId};
    </update>

    <!-- 查找文件通过文件id -->
    <select id="getFileById" resultType="com.yg.mydrive.entity.Files">
        select id fileId,
            file_name fileName,
            file_hash fileHash,
            file_size fileSize,
            total_chunks totalChunks,
            folder_id folderId,
            user_id userId,
            version_control_enabled versionControlEnabled,
            current_version_id currentVersionId,
            upload_time uploadTime,
            status,
            delete_time deleteTime
        from file
        where id = #{fileId} and status = 'active' and user_id = #{userId}
    </select>

    <!-- 更新文件名通过文件id -->
    <update id="updateFileNameById">
        update file set file_name = #{newFileName} where user_id = #{userId} and id = #{fileId}
    </update>

    <!-- 根据目录id移动文件到指定的目录 -->
    <update id="updateParentFolderId">
        update file set folder_id = #{targetFolderId} where user_id = #{userId} and id = #{fileId};
    </update>
</mapper>