<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yg.mydrive.mapper.FileVersionMapper">

    <!-- 初始化文件版本控制记录 -->
    <insert id="initializeFileVersion" useGeneratedKeys="true" keyProperty="fileVersion.fileVersionId" keyColumn="id">
        insert into file_version (file_id, upload_time) values (#{fileVersion.fileId}, NOW());
    </insert>

    <!-- 已开启版本控制文件创建新的记录 -->
    <insert id="createNewFileVersion" useGeneratedKeys="true" keyProperty="fileVersion.fileVersionId" keyColumn="id">
        insert into file_version (file_id, version_number, upload_time)
        values (#{fileVersion.fileId}, #{fileVersion.versionNumber}, NOW());
    </insert>

    <!-- 获得文件版本最大的序号 -->
    <select id="getMaxVersionNumber" resultType="java.lang.Integer" >
        select max(file_version.version_number) from file_version where file_id = #{fileId};
    </select>

    <!-- 获得所有文件-版本对象 -->
    <select id="getAllVersionByFileId" resultType="com.yg.mydrive.entity.FileVersion">
        select id fileVersionId,
            file_id fileId,
            version_number versionNumber,
            message,
            upload_time uploadTime
        from file_version
        where file_id = #{fileId}
        order by version_number desc
    </select>

    <!-- 更新描述信息 -->
    <update id="updateDescription">
        update file_version set message = #{description} where id = #{fileVersionId};
    </update>

</mapper>