<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yg.mydrive.mapper.UserMapper">
    <insert id="createUser">
        insert into user(user_name, password, email) values (#{userName}, #{password}, #{email});
    </insert>

    <select id="findUserByEmail" resultType="com.yg.mydrive.entity.User">
        <!--如果使用resultType的话，实体表的字段和实体类的属性名不匹配，可以通过查询完毕后起一个别名，和实体类的属性名相同就可以，
        如果使用resultMap的话，就需要定义映射关系
        -->
        select user_name userName, password, email, id userId, admin from user where email=#{email}
    </select>
    <!-- resultMap样例
    <resultMap id="userResultMap" type="com.yg.mydrive.entity.User">
        <result property="userName" column="user_name"></result>
        <result property="password" column="password"></result>
        <result property="email" column="email"></result>
        <result property="userId" column="id"></result>
        <result property="admin" column="admin"></result>
    </resultMap>
    -->
</mapper>