<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>错误</title>
		<!-- 引入项目图标 -->
		<link th:href="@{/icon/mydrive.png}" rel="icon">
		<!-- 引入layui -->
		<link th:href="@{/layui/css/layui.css}" rel="stylesheet">
		<!-- 引入bootstrap -->
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	</head>
	<body>
		<div class="container mt-5">
			<div class="alert alert-warning" role="alert">
				<p th:text="${error}"></p>
			</div>
			<div class="mt-3">
				<a href="/index" class="btn btn-primary">返回首页</a>
			</div>
		</div>
	</body>
</html>