<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>主页</title>
		<!-- 引入项目图标 -->
		<link th:href="@{/icon/mydrive.png}" rel="icon">
		<!-- 引入layui -->
		<link th:href="@{/layui/css/layui.css}" rel="stylesheet">
		<!-- 引入bootstrap5 CSS样式-->
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<!-- 引入bootstrap5 js文件 -->
		<script src="/bootstrap/js/bootstrap.bundle.js"></script>
		<script src="/js/updateItemStatus.js"></script>
	</head>
	<body>
		<!-- 引入header -->
		<div th:insert="~{common :: myDriveHeaderBootstrap}"></div>
		<!-- 用于调试, 显示当前用户信息 -->
<!--		<div th:insert="~{common :: currentUserInfo}"></div>-->

		<!-- 显示用户所有文件夹 -->
		<div class="container-fluid round-1">
			<div class="d-flex justify-content-lg-start align-items-center mb-2">
				<p class="p-1 mb-0">文件夹</p>

				<!-- 按钮触发模态框 -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createFolderModal">
					新增文件夹
				</button>
			</div>

			<ul th:each="folder : ${foldersList}" class="list-group rounded-1">
				<li class="list-group-item list-group-item-action list-group-item-warning rounded-1 d-flex justify-content-between align-items-center">
					<a th:href="@{/user/homepage/{folderId}(folderId=${folder.getFolderId()})}" class="d-flex justify-content-between align-items-center text-dark text-decoration-none">
						<div class="d-flex align-items-center">
							<img th:src="@{/icon/icons8-folder.svg}" alt="folder" class="img-fluid mr-2">
							<span th:text="${folder.getFolderName()}">Folder Name</span>
						</div>
					</a>
					<div class="dropdown">
						<button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							操作
						</button>
						<div class="dropdown-menu">
							<!-- TODO 实现文件夹删除功能 -->
							<a href="#" th:data-folder-id="${folder.getFolderId()}" class="dropdown-item" onclick="updateItemStatus(this.getAttribute('data-folder-id'), 'folder', 'deleted')">删除</a>
							<a href="#" th:data-folder-id="${folder.getFolderId()}" th:data-folder-name="${folder.getFolderName()}" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#renameModal" onclick="setItemIdForRename(this.getAttribute('data-folder-id'), 'folder', this.getAttribute('data-folder-name'))">重命名</a>
							<a href="#" th:data-folder-id="${folder.getFolderId()}" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#moveModal" onclick="prepareMoveModal(this.getAttribute('data-folder-id'), 'folder')">移动</a>
						</div>
					</div>
				</li>
			</ul>

		</div>

		<!-- 模态框 -->
		<div class="container-fluid modal fade" id="createFolderModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">创建新文件夹</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" id="folderNameInput" placeholder="输入文件夹名称">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" onclick="createFolder()">创建</button>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<!-- 处理创建文件夹js函数,和模态对话框 -->
		<script>
			function createFolder() {
				console.log('进入创建文件夹函数')
				var folderName = document.getElementById('folderNameInput').value.trim();
				if (folderName) {
					// 构建FormData对象
					var formData = new FormData();

					// 获得当前目录的folderId
					var parentFolderId = getCurrentFolderIdFromUrl();

					// 添加新建文件夹的名字
					formData.append('folderName', folderName);
					// 添加父文件夹id
					if (parentFolderId !== null) {
						formData.append('parentFolderId', parentFolderId);
					}

					// 发送AJAX请求到后端
					fetch('/user/createFolder', {
						method: 'POST',
						body: formData  // 使用FormData发送数据
					})
						.then(response => {
							if (response.ok) {
								return response.text();
							} else {
								return response.text().then(text => {
									throw new Error(text);
								})
							}
							//throw new Error('请求失败');
						})
						.then(data => {
							alert("文件夹创建成功");
							$('#createFolderModal').modal('hide'); // 关闭模态框
							window.location.reload(); //请求成功后刷新页面
						})
						.catch(error => {
							alert("文件夹创建失败: " + error.message);
						});
				} else {
					alert("文件夹名称不能为空！");
				}
			}

			// 获得当前所在目录的folderId, 根目录folderId为null
			function getCurrentFolderIdFromUrl() {
				var pathArray = window.location.pathname.split('/');
				var lastSegment = pathArray.pop()
				if (lastSegment === 'homepage') {
					return null;
				}
				return lastSegment;
			}
		</script>

		<!-- 显示当前用户的所有文件 -->
		<div class="container-fluid mt-4 round-1">
			<p class="p-1 ">文件</p>
			<ul th:each="file : ${filesList}" class="list-group rounded-1">
				<li class="list-group-item list-group-item-action list-group-item-primary rounded-1">
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center">
							<img th:src="@{/icon/filetype-txt.svg}" alt="file" class="img-fluid mr-1">
							<span>[[${file.getFileName()}]]</span>
						</div>
						<div class="d-flex align-items-center justify-content-end">
							<img th:if="${file.getVersionControlEnabled()}" th:src="@{/icon/green-check.png}"  alt="Version-Control" class="img-fluid mr-2">
							<div class="me-2">
								<span th:if="${file.getFileSize() < 1024}">1 KB</span>
								<span th:if="${file.getFileSize() >= 1024 and file.getFileSize() < 1024.0 * 1024.0 }">[[${#numbers.formatDecimal(file.getFileSize() / 1024.0, 1, 2)}]] KB</span>
								<span th:if="${file.getFileSize() >= 1024 * 1024 and file.getFileSize() < 1024.0 * 1024.0 * 1024.0}">[[${#numbers.formatDecimal(file.getFileSize() / (1024.0 * 1024.0), 1, 2)}]]MB</span>
								<span th:if="${file.getFileSize() >= 1024 * 1024 * 1024}">[[${#numbers.formatDecimal(file.getFileSize() / (1024.0 * 1024.0 * 1024.0), 1, 2)}]] GB</span>
							</div>
							<div class="dropdown">
								<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									操作
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a th:href="@{/user/download/{fileId} (fileId=${file.getFileId()})}" class="dropdown-item">下载</a>
									<a href="#" class="dropdown-divider"></a>
									<a href="#" th:data-file-id="${file.getFileId()}" class="dropdown-item" onclick="updateItemStatus(this.getAttribute('data-file-id'), 'file', 'deleted')">删除</a>
									<a href="#" class="dropdown-divider"></a>
									<a href="#" th:data-file-id="${file.getFileId()}" th:data-file-name="${file.getFileName()}" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#renameModal" onclick="setItemIdForRename(this.getAttribute('data-file-id'), 'file', this.getAttribute('data-file-name'))">重命名</a>
									<a href="#" th:data-file-id="${file.getFileId()}" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#moveModal" onclick="prepareMoveModal(this.getAttribute('data-file-id'), 'file')">移动</a>
									<a href="#" th:data-file-id="${file.getFileId()}" class="dropdown-item" onclick="generateShareLink(this.getAttribute('data-file-id'))">生成分享链接</a>
									<!-- 根据版本控制状态显示不同选项 -->
									<div th:if="${file.versionControlEnabled}">
										<a href="#" th:data-file-id="${file.getFileId()}" id="uploadNewVersion" onclick="triggerFileNewVersionUpload(this.getAttribute('data-file-id'))" class="dropdown-item">上传新版本</a>
										<a href="#" th:data-file-id="${file.getFileId()}" th:data-version-id="${file.getCurrentVersionId()}" class="dropdown-item" onclick="loadAndShowFileVersions(this.getAttribute('data-file-id'), this.getAttribute('data-version-id')); setValueToGlobalCurrentVersionId(this.getAttribute('data-version-id'))">显示版本信息</a>
										<!-- 隐藏的文件选择输入 -->
										<input type="file" id="newVersionFileInput" style="display: none;">
										<!-- 动态显示的上传按钮，初始时隐藏 -->
										<button id="uploadNewVersionBtn" class="btn-primary" style="display: none;">点击上传新版本</button>

									</div>
									<div th:if="${!file.versionControlEnabled}">
										<a href="#" th:data-file-id="${file.getFileId()}" class="dropdown-item" onclick="openVersionControl(this.getAttribute('data-file-id'))">开启版本控制</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<script>
			function openVersionControl(fileId) {
				const formData = new FormData()
				formData.append('fileId', fileId);

				fetch('/user/openVersionControl', {
					method: 'POST',
					body: formData
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						window.location.reload();
						return response.text();
					})
					.then(text => {
						// 这里的text就是后端返回的内容， "versionId: 123"
						console.log(text);
						const versionId = text.split(': ')[1]; // 假设返回格式是 "versionId: 123"
					})
					.catch(error => {
						console.error('There was a problem with your fetch openVersionControl operation:', error);
					});

			}


		</script>


		<!-- 显示版本信息模态框 -->
		<div class="modal fade" id="fileVersionsModal" tabindex="-1" aria-labelledby="fileVersionsModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="fileVersionsModalLabel">文件版本记录</h5>
					</div>
					<div class="modal-body">
						<!-- 文件版本列表将在这里插入 -->
						<div id="fileVersionsList" class="container"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>


		<script>
			let globalCurrentVersionId;

			function setValueToGlobalCurrentVersionId(globalVersionId) {
				globalCurrentVersionId = globalVersionId;
			}

			async function loadAndShowFileVersions(fileId, currentVersionId) {
				const fileVersions = await fetchFileVersions(fileId);
				const fileVersionsList = document.getElementById('fileVersionsList');

				fileVersionsList.innerHTML = ''; // 清除旧的列表项

				fileVersions.forEach(version => {
					const card = document.createElement('div');
					card.classList.add('card', 'mb-3', 'shadow-sm'); // 添加阴影效果

					const cardBody = document.createElement('div');
					cardBody.classList.add('card-body');

					const row = document.createElement('div');
					row.classList.add('row', 'align-items-center');

					const versionInfoCol = document.createElement('div');
					versionInfoCol.classList.add('col-md-8');

					const titleContainer = document.createElement('div'); // 创建标题容器
					titleContainer.classList.add('d-flex', 'align-items-center');

					const versionTitle = document.createElement('h5');
					versionTitle.classList.add('card-title');
					versionTitle.innerHTML = `<i class="fas fa-code-branch"></i> 版本 ${version.versionNumber}`;
					titleContainer.appendChild(versionTitle);

					if (version.fileVersionId == currentVersionId) {
						// 使用 Bootstrap 徽章来标识当前版本
						const currentVersionBadge = document.createElement('span');
						currentVersionBadge.classList.add('badge', 'bg-success', 'ml-2');
						currentVersionBadge.textContent = '当前版本';
						titleContainer.appendChild(currentVersionBadge);
					} else {
						// 为非当前版本添加重置按钮，放在版本标题旁边
						const resetButton = document.createElement('button');
						resetButton.type = 'button';
						resetButton.classList.add('btn', 'btn-danger', 'btn-sm', 'ml-2');
						resetButton.textContent = '重置到此版本';
						resetButton.onclick = () => resetToVersion(version.fileId, version.fileVersionId);
						titleContainer.appendChild(resetButton);
					}

					versionInfoCol.appendChild(titleContainer);

					const uploadTime = document.createElement('small');
					uploadTime.classList.add('text-muted');
					uploadTime.innerHTML = `上传时间: ${version.uploadTime}`;
					versionInfoCol.appendChild(uploadTime);

					const message = document.createElement('div');
					message.classList.add('card-text', 'mt-2', 'p-2', 'bg-light', 'border');
					message.style.fontWeight = 'bold';
					message.textContent = version.message || '无描述信息';
					versionInfoCol.appendChild(message);

					const actionCol = document.createElement('div');
					actionCol.classList.add('col-md-4', 'text-md-right');

					// 创建描述信息表单，这里仅示例，具体实现可根据需求调整
					const descriptionForm = document.createElement('form');
					descriptionForm.classList.add('form-group', 'mb-2');

					const textarea = document.createElement('textarea');
					textarea.classList.add('form-control', 'mb-2');
					textarea.id = `descriptionInput-${version.fileVersionId}`;
					textarea.rows = 1;
					textarea.value = version.message || '';

					const updateButton = document.createElement('button');
					updateButton.type = 'button';
					updateButton.classList.add('btn', 'btn-primary');
					updateButton.textContent = '更新描述';
					updateButton.onclick = () => updateDescription(version.fileId, version.fileVersionId);

					descriptionForm.append(textarea, updateButton);
					actionCol.appendChild(descriptionForm);

					row.append(versionInfoCol, actionCol);
					cardBody.appendChild(row);
					card.appendChild(cardBody);
					fileVersionsList.appendChild(card);
				});

				// 使用Bootstrap的方法显示模态框
				var myModal = new bootstrap.Modal(document.getElementById('fileVersionsModal'), {
					keyboard: false
				});
				myModal.show();
			}


			// 获得文件的所有版本
			async function fetchFileVersions(fileId) {
				const formData = new FormData();
				formData.append('fileId', fileId);

				const response = await fetch('/user/fetchFileVersions', {
					method: 'POST',
					body: formData
				});

				if (!response.ok) {
					throw new Error('Network response was not ok');
				}
				return await response.json(); // 服务器返回JSON格式的文件版本信息
			}

			// 更新版本的描述信息
			async function updateDescription(fileId, versionId) {
				const descriptionInputId = `descriptionInput-${versionId}`;
				const descriptionInput = document.getElementById(descriptionInputId);
				const newDescription = descriptionInput.value;

				const formData = new FormData()
				formData.append('versionId', versionId);
				formData.append('newDescription', newDescription);

				// 发送更新描述信息的请求
				const response = await fetch('/user/updateDescription', {
					method: 'POST',
					body: formData
				});

				if (!response.ok) {
					// 处理错误情况
					console.error('Failed to update description');
					return;
				}
				descriptionInput.value = '';
				await loadAndShowFileVersions(fileId, globalCurrentVersionId);

				console.log('Description updated successfully');
			}

			async function resetToVersion(fileId, resetVersionId) {
				const formData = new FormData();
				formData.append('fileId', fileId);
				formData.append('resetId', resetVersionId);

				const response = await fetch('/user/resetToVersion', {
					method: 'POST',
					body: formData
				});

				if (!response.ok) {
					// 处理错误情况
					console.error('Failed to reset to version');
					return;
				}

				setValueToGlobalCurrentVersionId(resetVersionId);
				await loadAndShowFileVersions(fileId, globalCurrentVersionId);
				console.log('Reset to version successful');
			}
		</script>


		<!-- 模态框 进行文件重命名 -->
		<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="renameModalLabel">重命名</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form id="renameForm">
							<div class="mb-3">
								<label for="newItemName" class="col-form-label">新的名字:</label>
								<input type="text" class="form-control" id="newItemName">
								<input type="hidden" id="itemIdForRename" value="">
								<input type="hidden" id="itemType" value="">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" id="submitRename">保存更改</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 重命名文件或文件夹 js -->
		<script>
			let itemType = null; // 'file' 或 'folder'
			let itemName = null;
			// 设置当前要重命名的文件ID
			function setItemIdForRename(itemId, type, name) {
				document.getElementById('newItemName').value = name;
				document.getElementById('itemIdForRename').value = itemId;
				itemType = type;
				itemName = name;
			}

			// 监听保存更改按钮的点击事件
			document.getElementById('submitRename').addEventListener('click', function() {
				const itemId = document.getElementById('itemIdForRename').value;
				const newItemName = document.getElementById('newItemName').value;

				const formData = new FormData();

				formData.append('itemId', itemId);
				formData.append('newItemName', newItemName);
				formData.append('itemType', itemType);

				// 发送请求到服务器以更新文件名
				fetch(`/user/renameItem/`, {
					method: 'POST',
					body: formData
				})
					.then(response => {
						if (response.ok) {
							return response.text();
						} else {
							return response.text().then(text => {
								throw new Error(text);
							})
						}
					})
					.then(data => {
						console.log('重命名文件Success:', data);
						// 关闭模态框
						var renameModal = new bootstrap.Modal(document.getElementById('renameModal'));
						renameModal.hide();

						renameModal.hide();
						window.location.reload();
					})
					.catch((error) => {
						console.error('Error:', error);
					});
			});
		</script>

		<!-- 模态框用于生成分享链接 -->
		<div class="modal fade" id="shareLinkModal" tabindex="-1" aria-labelledby="shareLinkModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="shareLinkModalLabel">分享链接</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="shareLinkText">链接加载中...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="copyToClipboard()">复制链接</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 生成分享链接 -->
		<script>

			// 生成分享链接
			function generateShareLink(fileId) {
				// 发送AJAX请求到后端获取分享链接
				fetch(`/user/generateShareLink/${fileId}`)
					.then(response => response.text())
					.then(link => {
						// 在这里处理生成的分享链接，例如显示给用户或复制到剪贴板
						document.getElementById('shareLinkText').textContent = link;
						$('#shareLinkModal').modal('show');
					})
					.catch(error => console.error('Error generating share link:', error));
			}

			// 将链接复制到剪贴板
			function copyToClipboard() {
				const linkText = document.getElementById('shareLinkText').textContent;
				navigator.clipboard.writeText(linkText).then(() => {
					// 关闭模态框并提示用户
					$('#shareLinkModal').modal('hide');
					alert('链接已复制到剪贴板');
				}).catch(err => {
					console.error('无法复制链接到剪贴板:', err);
				});
			}

		</script>

		<!-- 模态框 进行移动项目 -->
		<div class="modal fade" id="moveModal" tabindex="-1" aria-labelledby="moveModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="moveModalLabel">移动项目</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<ul id="folderTree" class="list-unstyled">
							<!-- 文件夹树在这里动态生成 -->
						</ul>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" onclick="moveItem()">移动</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 移动项目 js -->
		<script src="/js/moveItem.js"></script>

		<!-- 进行文件上传 -->
		<div class="container-fluid my-4">
			<form id="fileUploadDiv" action="/user/uploadFile" method="post" enctype="multipart/form-data"
				  class="upload-form">
				<div class="mb-3">
					<label for="fileInput" class="form-label">请选择文件</label>
					<input type="file" class="form-control bg-secondary-subtle" id="fileInput" name="file">
				</div>

				<div class="form-check">
					<input class="form-check-input" type="checkbox" id="versionControlEnabled">
					<label class="form-check-label" for="versionControlEnabled">
						开启版本控制
					</label>
				</div>

				<!-- 进度条 -->
				<div class="progress my-3" style="height: 20px;">
					<div id="progressBar" class="progress-bar bg-success" role="progressbar"
						 style="width: 0%;"></div>
				</div>
				<!-- 进度信息 -->
				<div id="progressText" class="progress-text mb-3"></div>
			</form>
			<button id="uploadButton" class="btn btn-danger" onclick="upload()">上传文件</button>
			<!-- hash值计算状态 -->
			<div id="hashStatus" class="hash-status mt-3"></div>
		</div>

		<!-- 处理文件上传逻辑 -->
		<script th:inline="javascript">
			let selectedFile; // 用于存储选中的文件

			// 获得当前父目录的id
			var parentFolderId = getCurrentFolderIdFromUrl()

			// 监听文件选择变化
			document.getElementById('fileInput').addEventListener('change', (event) => {
				selectedFile = event.target.files[0]; // 保存选中的文件
				console.log(selectedFile.toString());
			});


			// 上传文件的新版本
			async function triggerFileNewVersionUpload(fileId) {
				const fileInput = document.getElementById('newVersionFileInput'); // 触发文件选择
				fileInput.click();
				let fileNewVersion;

				fileInput.onchange = null;
				// 仅为新的选择添加事件监听器，避免重复注册事件
				fileInput.onchange = async (event) => {
					fileNewVersion = event.target.files[0]; // 获取选中的文件
					if (fileNewVersion) {
						console.log("选中的文件名: ", fileNewVersion.name); // 打印文件名
						const uploadButton = document.getElementById('uploadNewVersionBtn');

						// 重新绑定上传按钮的点击事件，确保每次文件选择后只绑定一次
						uploadButton.style.display = 'none';
						// 设置分片大小位10MB
						const chunkSize = 10 * 1024 * 1024;
						const totalChunks = Math.ceil(fileNewVersion.size / chunkSize);
						let uploadSuccess = true; // 追踪文件上传是否成功

						const fileVersionId = await fileNewVersionInitialize(fileId);
						for (let i = 0; i < totalChunks; i++) {
							const chunk = fileNewVersion.slice(i * chunkSize, (i + 1) * chunkSize);
							const chunkHash = await calculateHash(chunk)
							console.log(`Chunk ${i}: Hash: ${chunkHash}`);

							// 检查分片是否需要上传,如果服务端存储该分片则不用上传
							const chunkExist = await checkChunkExist(chunkHash, fileId, i, fileVersionId);
							if (chunkExist) {
								console.log(`Chunk ${i} already exists, skipping upload.`);
								updateProgress(i + 1, totalChunks);
								continue;
							}
							const formData = new FormData();

							formData.append('chunk', chunk);
							formData.append('fileId', fileId);
							formData.append('parentFolderId', parentFolderId);
							formData.append('chunkIndex', i);
							formData.append('chunkHash', chunkHash);
							formData.append('totalChunks', totalChunks);
							formData.append('versionId', fileVersionId);

							try {
								const response = await fetch('/user/uploadChunk', {
									method: 'POST',
									body: formData
								});
								// if (!response.ok) {
								// 	throw new Error('Upload chunk' + i + ' fail');
								// }
								//更新进度条
								updateProgress(i + 1, totalChunks);
							} catch (error) {
								console.error(error);
								alert(`上传失败: ${error.message}`);
								uploadSuccess = false;
								break;
							}
						}
						if (uploadSuccess) {
							await updateFileSize(fileId, fileVersionId);
						}
					}
				};
			}

			// 已开启版本控制的文件需要上传新版本初始化
			async function fileNewVersionInitialize(fileId) {
				const formData = new FormData();
				formData.append('fileId', fileId);

				try {
					const response = await fetch('/user/fileNewVersionInitialize', {
						method: 'POST',
						body: formData
					});
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					const data = await response.json(); // 服务器返回的是JSON格式
					const fileVersionId = data.fileVersionId; // 根据实际返回的JSON结构来获取fileVersionId
					console.log('file-version-id: ' + fileVersionId);
					return fileVersionId; // 返回fileVersionId
				} catch (error) {
					console.error('Error during fetch: ', error);
					return null; // 在出现错误时返回null或适当的错误处理
				}
			}

			// 全新文件上传
			// document.getElementById('uploadButton').addEventListener('click', async () => {
			async function upload() {
				if (selectedFile) {
					// showHashCalculationStatus('正在计算文件哈希,请稍候...');
					// const fileHash = await calculateHash(selectedFile);
					// showHashCalculationStatus(selectedFile.name + ' 文件哈希计算完成:' + fileHash);

					// 设置分片大小位10MB
					const chunkSize = 10 * 1024 * 1024;
					const totalChunks = Math.ceil(selectedFile.size / chunkSize);
					let uploadSuccess = true; // 追踪文件上传是否成功

					// 获得版本控制状态
					const versionControlEnabled = document.getElementById('versionControlEnabled').checked

					// 进行文件初始化设置
					const {fileId, versionId} = await initializeFileUpload(selectedFile.name, totalChunks, parentFolderId, versionControlEnabled);
					console.log('文件id是' + fileId);
					console.log('版本id是' + versionId);

					for (let i = 0; i < totalChunks; i++) {
						const chunk = selectedFile.slice(i * chunkSize, (i + 1) * chunkSize);
						const chunkHash = await calculateHash(chunk)
						console.log(`Chunk ${i}: Hash: ${chunkHash}`);

						// 检查分片是否需要上传,如果服务端存储该分片则不用上传
						const chunkExist = await checkChunkExist(chunkHash, fileId, i);
						if (chunkExist) {
							console.log(`Chunk ${i} already exists, skipping upload.`);
							updateProgress(i + 1, totalChunks);
							continue;
						}

						const formData = new FormData();

						formData.append('chunk', chunk);
						formData.append('fileId', fileId);
						formData.append('parentFolderId', parentFolderId);
						formData.append('chunkIndex', i);
						formData.append('chunkHash', chunkHash);
						formData.append('totalChunks', totalChunks);
						if (versionId !== null) {
							formData.append('versionId', versionId);
						}

						try {
							const response = await fetch('/user/uploadChunk', {
								method: 'POST',
								body: formData
							});
							// if (!response.ok) {
							// 	throw new Error('Upload chunk' + i + ' fail');
							// }
							//更新进度条
							updateProgress(i + 1, totalChunks);
						} catch (error) {
							console.error(error);
							alert(`上传失败: ${error.message}`);
							uploadSuccess = false;
							break;
						}
					}
					if (uploadSuccess) {
						// 更新文件大小
						const fileSize = updateFileSize(fileId);
						console.log('文件大小是: ' + fileSize);
						// 如果所有分片都成功上传，则刷新页面
						window.location.reload();
					}

				} else {
					alert("请先选择一个文件! ");
				}
			}

			// 文件上传初始化操作,返回文件id和版本id
			async function initializeFileUpload(fileName, totalChunks, parentFolderId, versionControlEnabled) {
				const formData = new FormData();
				formData.append('fileName', fileName);
				formData.append('totalChunks', totalChunks);
				if (parentFolderId != null) {
					formData.append('parentFolderId', parentFolderId);
				}
				formData.append('versionControlEnabled', versionControlEnabled);
				try {
					const response = await fetch('/user/initializeFileUpload', {
						method: 'POST',
						body: formData
					});

					if (!response.ok) {
						throw new Error('Failed to initialize file upload' + response.status);
					}


					// 获得数据
					const responseData = await response.json();

					if (responseData.error) {
						console.error('Error during file initialization: ', responseData.error);
						alert('文件初始化操作失败: ' + responseData.error);
						return; // 早期返回，防止进一步执行
					}

					const fileId = responseData.fileId;
					const versionId = responseData.versionId;

					console.log('initialize function fileId: ' + fileId);
					console.log('initialize function versionId: ' + versionId);

					return {
						fileId: parseInt(fileId, 10),
						versionId: versionId ? parseInt(versionId, 10) : null
					};
				} catch (error) {
					console.log('Initialization error: ', error);
					alert('文件初始化操作失败');
				}
			}

			// 判断服务器端是否已经存储了该分片
			async function checkChunkExist(chunkHash, fileId, chunkIndex, versionId) {
				const formData = new FormData();
				formData.append('chunkHash', chunkHash);
				formData.append('fileId', fileId);
				formData.append('chunkIndex', chunkIndex);
				if (versionId !== null) {
					formData.append('versionId', versionId);
				}

				// 发送POST请求给服务端
				const response = await fetch('/user/checkChunkExist', {
					method: 'POST',
					body: formData
				})
				const result = await response.text();
				console.log('checkChunkExist function: current chunkHash' + chunkHash + ' fileId' + fileId + ' index' + chunkIndex);
				return result.toLowerCase() === 'true';
			}

			// 计算hash
			async function calculateHash(file) {
				// 读取文件内容
				const arrayBuffer = await file.arrayBuffer();

				// 计算哈希值
				const hashBuffer = await crypto.subtle.digest('SHA-256', arrayBuffer);

				// 将ArrayBuffer转换为十六进制字符串
				const hashArray = Array.from(new Uint8Array(hashBuffer));
				const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');

				return hashHex;
			}

			// 文件所有分片上传完成后调用该函数,更新文件的大小
			async function updateFileSize(fileId, versionId) {
				const formData = new FormData();

				formData.append('fileId', fileId);
				if (versionId !== null) {
					formData.append('versionId', versionId);
				}
				console.log('进入更新文件大小函数');

				const response = await fetch('/user/updateFileSize', {
					method: 'POST',
					body: formData
				});
				console.log('文件大小是: ' + await response.text());
				return response.text()
			}

			// 更新进度条
			function updateProgress(currentChunk, totalChunks) {
				const progressPercentage = (currentChunk / totalChunks) * 100;
				document.getElementById('progressBar').style.width = `${progressPercentage}%`;
				document.getElementById('progressText').innerText = `上传进度: ${progressPercentage.toFixed(2)}%`;
			}

			function showHashCalculationStatus(message) {
				const hashStatusElement = document.getElementById('hashStatus');
				if (hashStatusElement) {
					hashStatusElement.innerText = message;
				}
			}

			// 获得当前url的最后一个路径段
			function getLastPathSegment() {
				var pathArray = window.location.pathname.split('/');
				var lastSegment = pathArray.pop();
				return lastSegment;
			}

			// 获得当前所在目录的folderId, 根目录folderId为null
			function getCurrentFolderIdFromUrl() {
				var pathArray = window.location.pathname.split('/');
				var lastSegment = pathArray.pop()
				if (lastSegment === 'homepage') {
					return null;
				}
				return lastSegment;
			}
		</script>

		<!-- 软删除文件和文件夹 -->
		<script>
			function softDeleteItem(itemId, itemType, status = 'deleted') {
				const formData = new FormData()

				formData.append('itemId', itemId);
				formData.append('itemType', itemType);
				formData.append('status', status);

				fetch('/user/')

			}
		</script>


		<div th:if="${uploadMessage}">
			[[${uploadMessage}]]
		</div>
	</body>
</html>