<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Log in</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link href="//unpkg.com/layui@2.9.2/dist/css/layui.css" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/icon/mydrive.png}" rel="icon">
</head>
<body>
    <div th:insert="~{common :: myheader}"></div>
    <form action="login" class="layui-form" method="post">
        <div class="layui-form-item">
            <div class="layui-input-group">
                <div class="layui-input-split layui-input-prefix">
                    邮箱
                </div>
                <input type="text" name="email" placeholder="请输入邮箱" class="layui-input">
            </div>
            <br>
            <div class="layui-input-group">
                <div class="layui-input-split layui-input-prefix">
                    密码
                </div>
                <input type="password" name="password" placeholder="请输入密码" class="layui-input">
            </div>
            <br>
            <div class="layui-btn-container">
                <button type="submit" class="layui-btn layui-btn-lg">登陆</button>
                <button type="reset" class="layui-btn layui-btn-lg layui-btn-danger">重置</button>
                <a href="registerIndex" class="layui-btn-fluid">注册用户</a>
            </div>
        </div>
    </form>
</body>
</html>