<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>注册成功</title>
		<!-- 引入项目图标 -->
		<link th:href="@{/icon/mydrive.png}" rel="icon">
		<!-- 引入layui -->
		<link th:href="@{/layui/css/layui.css}" rel="stylesheet">
		<!-- 引入bootstrap -->
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	</head>
	<body class="bg-light">
		<div class="container py-5">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">
							注册成功
						</div>
						<div class="card-body">
							<h5 class="card-title">恭喜您，用户注册成功！</h5>
							<p class="card-text">您现在可以返回首页进行登录。</p>
							<a href="index" class="btn btn-primary">返回首页进行登录</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</html>