<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<!-- 引入项目图标 -->
		<link th:href="@{/icon/mydrive.png}" rel="icon">
		<!-- 引入layui -->
		<link th:href="@{/layui/css/layui.css}" rel="stylesheet">
		<!-- 引入bootstrap -->
		<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	</head>
	<body>
		<div th:insert="~{common :: myDriveHeaderBootstrap}"></div>

		<div class="container py-5">
			<div class="row justify-content-center">
				<div class="col-md-8 col-lg-6">
					<h2 class="mb-3">注册</h2>
					<!-- 注册表单 -->
					<form action="registerSave" method="post">
						<!-- 显示错误消息 -->
						<div th:if="${error}" class="alert alert-danger" role="alert">
							<p th:text="${error}"></p>
						</div>
						<!-- 输入邮箱 -->
						<div class="mb-3">
							<label for="email" class="form-label">邮箱</label>
							<input type="text" class="form-control" id="email" name="email" placeholder="请输入邮箱" required>
						</div>
						<!-- 输入密码  -->
						<div class="mb-3">
							<label for="password" class="form-label">密码</label>
							<input type="password" class="form-control" id="password" name="password" placeholder="请输入密码" required>
						</div>
						<!-- 输入用户名 -->
						<div class="mb-3">
							<label for="userName" class="form-label">用户名</label>
							<input type="text" class="form-control" id="userName" name="userName" placeholder="请输入用户名" required>
						</div>
						<button type="submit" class="btn btn-primary btn-lg">注册</button>
						<button type="reset" class="btn btn-danger btn-lg">重置</button>
						<a href="index" class="btn btn-link">返回首页</a>
					</form>
				</div>
			</div>
		</div>

	</body>
</html>