<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <link href="//unpkg.com/layui@2.9.2/dist/css/layui.css" rel="stylesheet">
</head>
<body>
这是sign up界面
    <form action="signup/" method="post" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-group">
                <div class="layui-input-split layui-input-prefix">
                    输入用户名
                </div>
                <input type="text" name="userName" placeholder="请输入用户名" class="layui-input">
            </div>
            <br>
            <div class="layui-input-group">
                <div class="layui-input-split layui-input-prefix">
                    输入密码
                </div>
                <input type="password" name="password" placeholder="请输入密码" class="layui-input">
            </div>
            <br>
            <div class="layui-input-group">
                <div class="layui-input-split layui-input-prefix">
                    输入邮箱
                </div>
                <input type="text" name="email" placeholder="请输入邮箱" class="layui-input">
            </div>
            <br>
            <div class="layui-btn-container">
                <button type="submit" class="layui-btn layui-btn-lg">注册</button>
                <button type="reset" class="layui-btn layui-btn-lg layui-btn-danger">重置</button>
            </div>
        </div>
    </form>
</body>
</html>